.collaborate-banner {
  background: #eb924a;
  overflow: hidden;
  border-top: 1px solid black;
  padding: 1.5rem 0;
}

@media only screen and (min-width: 1024px) {
  .collaborate-banner .l-constrained {
    position: relative;
  }

  .collaborate-banner .copy-button {
    position: absolute;
    right: 0;
    top: 2.5rem;
  }
}

.collaborate-banner p,
.collaborate-banner h2 {
  max-width: 680px;
}

.copy-button {
  position: relative;
  padding-bottom: 2em;
}

.copy-button input {
  background: white;
  padding: 8px 52px 8px 26px;
  width: 188px;
  top: 2.5rem;
  border: 1px solid black;
  font-size: 1rem;
  size: 40;
  text-align: center;
}

.copy-button label {
  position: absolute;
  left: 226px;
  top: 50%;
  margin-top: -1.4375rem;
  cursor: pointer;
}

.copy-button > div {
  position: absolute;
  margin-top: 0.5rem;
  padding-left: 26px;
}
