.menu button {
  width: 100%;
  text-align: left;
}

.menu button {
  display: none;
}

@media screen and (max-width: 1023px) {
  .js .menu button {
    display: block;
  }
}

.menu ul {
  margin-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media screen and (max-width: 1023px) {
  .js .menu ul.hidden {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .menu ul {
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .menu ul li {
    display: inline-block;
    margin-right: 1em;
  }
  .menu ul li:last-child {
    margin-right: 0;
  }
}

.menu ul a {
  padding: 0.5rem;
  border: 1px solid transparent;
}
.menu ul a.selected {
  border-color: rgba(0, 0, 0, 0.8);
}
