.section-menu ul {
  list-style: none;
  padding: 1rem 2rem;
  background: white;
}

.section-menu ul li {
  margin-bottom: 0.725rem;
  border-bottom: 1px solid black;
}

.section-menu ul li:last-child {
  border: none;
}

.section-menu ul li a {
  text-decoration: none;
  padding: 1rem 0;
  display: block;
  font-family: "IBM Plex Serif";
  font-weight: 500;
  position: relative;
}

@media screen and (min-width: 768px) {
  .section-menu ul li a {
    font-size: 1.555555555555556rem;
  }
}

.section-menu ul li a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.section-menu ul li a svg {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -7px;
}

@media only screen and (min-width: 768px) {
  .section-menu ul li a svg {
    right: 3.875rem;
  }
}
